@page "/liquidity/add"
@using TeddySwap.UI.Models

<div class="max-w-[448px] m-auto">
    <div class="flex gap-1 items-center">
        <MudIconButton OnClick="@(() => AppStateService.AddLiquidityCurrentlySelectedTokenTwo = null)" Href="/liquidity" Icon="@Icons.Material.Filled.ArrowBack" aria-label="back to liquidity page"></MudIconButton>
        <MudText Typo="Typo.h1" Class="text-[20px] font-bold !outline-none">
            @(_createNewPool ? "Create" : "Add") Liquidity
        </MudText>
    </div>
    <MudCard Elevation="6" Class="!pb-2 mt-2">
        <MudCardHeader Class="flex flex-col items-start gap-2 !pb-0">
            <MudText Typo="Typo.h2" Class="text-[14px] font-semibold">Select Pair</MudText>
            <div class="flex justify-between w-full">
                <TokenChip
                    Tokens="Tokens"
                    CurrentlySelectedToken="AppStateService.AddLiquidityCurrentlySelectedTokenOne"
                    OnSelectedToken="@((Token token) => AppStateService.AddLiquidityCurrentlySelectedTokenOne = token)"
                />
                <TokenChip
                    Tokens="Tokens"
                    CurrentlySelectedToken="AppStateService.AddLiquidityCurrentlySelectedTokenTwo"
                    OnSelectedToken="@((Token token) => HandleTokenTwoSelected(token))"
                />
            </div>
        </MudCardHeader>
        <MudCardContent Class="relative">
            <div>
                <MudText Typo="Typo.h3" Class="@((_isTokenTwoSelected ? "text-white" : "text-[var(--mud-palette-text-secondary)]") + " text-[14px] font-semibold")">Pool</MudText>
                <MudSelect Disabled="!_isTokenTwoSelected" Value="_currentlySelectedPool" ValueChanged="HandlePoolSelected" T="Pool" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Class="add-liquidity-pool-selection">
                    @foreach (Pool pool in _pools)
                    {
                        <MudSelectItem T="Pool" Class="!py-0" Value="pool">
                            <div class="flex items-center">
                                <div class="relative flex items-center">
                                    <MudImage Src=@pool.Pair.Tokens.Token1.Logo Height="24" Width="24" Alt="@((@pool.Pair.Tokens.Token1.Name) + " logo")" />
                                    <MudImage Src=@pool.Pair.Tokens.Token2.Logo Height="24" Width="24" Alt="@((@pool.Pair.Tokens.Token2.Name) + " logo")" Class="absolute left-[18px]" />
                                    <MudText Class="ml-[22px] font-semibold text-[12px] md:text-[16px]">@pool.Pair.Tokens.Token1.Name/@pool.Pair.Tokens.Token2.Name</MudText>
                                </div>
                                <div class="ml-2 flex items-center gap-2">
                                    <div class="text-[12px] flex items-center gap-1">
                                        <div class="text-[var(--mud-palette-text-secondary)]">Fee:</div>
                                        <div class="font-semibold">@pool.Fee%</div>
                                    </div>
                                    <div class="text-[12px] flex items-center gap-1">
                                        <div class="text-[var(--mud-palette-text-secondary)]">TVL:</div>
                                        <div class="font-semibold">@pool.Tvl.ToString()M ADA</div>
                                    </div>
                                </div>
                            </div>
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="flex flex-col md:flex-row w-full items-start md:items-center md:justify-between gap-2 mt-5">
                <MudText Typo="Typo.h3" Class="@((_isTokenTwoSelected ? "text-white" : "text-[var(--mud-palette-text-secondary)]") + " text-[14px] font-semibold")">Liquidity</MudText>
                <div class="liquidity-btn-group w-full md:w-fit flex justify-between gap-1">
                    @foreach (int liquidityPercentage in _defaultLiquidityPercentages!)
                    {
                        <MudButton 
                            DisableElevation="true"
                            Disabled="!_isTokenTwoSelected"
                            OnClick="@(() => OnLiquidityBtnClicked(liquidityPercentage))"
                            Size="Size.Small"
                            Class="@(_currentLiquidityPercentage == liquidityPercentage ? "py-[6px] px-[16px] h-[36.5px] rounded-[50px] bg-[var(--mud-palette-primary)] hover:bg-[var(--mud-palette-primary-darken)]" : "py-[6px] px-[16px] h-[36.5px] rounded-[50px] hover:bg-[rgba(3, 105, 161, 0.08)]")"
                            Color="Color.Transparent"
                            Variant="Variant.Filled">
                                @liquidityPercentage%
                        </MudButton>
                    }
                </div>
            </div>
            
            <div class="flex flex-col mt-5 gap-1.5">
                <MudText Typo="Typo.h3" Class="@((_isTokenTwoSelected ? "text-white" : "text-[var(--mud-palette-text-secondary)]") + " text-[14px] font-semibold")">Fee</MudText>
                <div class="flex items-center gap-4">
                    <MudNumericField
                        HideSpinButtons
                        Disabled="!_isTokenTwoSelected"
                        Value="AppStateService.AddLiquidityFeePercentage"
                        ValueChanged="HandleFeeValueChanged"
                        Placeholder="0.0"
                        Variant="Variant.Outlined"
                        Min="0.01"
                        Class="!mt-0 liquidity-fee-input"
                        Format="N2"
                        T="double"
                        Adornment="Adornment.End"
                        AdornmentText="%"
                    />
                    <div class="liquidity-btn-group w-full md:w-fit flex justify-between gap-1">
                        @foreach (double feePercentage in _defaultFeePercentages!)
                        {
                            <MudButton 
                                DisableElevation="true"
                                Disabled="!_isTokenTwoSelected"
                                OnClick="@(() => OnFeeBtnClicked(feePercentage))"
                                Size="Size.Small"
                                Class="@(AppStateService.AddLiquidityFeePercentage == feePercentage ? "py-[6px] px-[16px] h-[36.5px] rounded-[50px] bg-[var(--mud-palette-primary)] hover:bg-[var(--mud-palette-primary-darken)]" : "py-[6px] px-[16px] h-[36.5px] rounded-[50px] hover:bg-[rgba(3, 105, 161, 0.08)]")"
                                Color="Color.Transparent"
                                Variant="Variant.Filled">
                                    @feePercentage%
                            </MudButton>
                        }
                    </div>
                </div>
            </div>

            <div class="mt-5 flex flex-col gap-3">
                <div class="relative">
                    <MudNumericField
                        HideSpinButtons
                        Immediate
                        Disabled="!_isTokenTwoSelected"
                        @bind-Value="AppStateService.AddLiquidityTokenOneAmount"
                        Placeholder="0.0"
                        Variant="Variant.Outlined"
                        Min="0.0"
                        Class="add-liquidity-input"
                        Format="N2"
                        T="double"
                    />
                    <div class="absolute right-[8px] top-[17px]">
                        <TokenChip
                            Disabled="!_isTokenTwoSelected"
                            Tokens="Tokens"
                            CurrentlySelectedToken="AppStateService.AddLiquidityCurrentlySelectedTokenOne"
                            OnSelectedToken="@((Token token) => AppStateService.AddLiquidityCurrentlySelectedTokenOne = token)"
                        />
                    </div>
                    <div class="flex justify-between text-[12px] absolute w-full bottom-[13px] px-[14px]">
                        <span>~5,155 ADA</span>
                        <span>Balance: 17,228</span>
                    </div>
                </div>
                <div class="relative">
                    <MudNumericField
                        HideSpinButtons
                        Immediate
                        Disabled="!_isTokenTwoSelected"
                        @bind-Value="AppStateService.AddLiquidityTokenTwoAmount"
                        Placeholder="0.0"
                        Variant="Variant.Outlined"
                        Min="0.0"
                        Class="add-liquidity-input"
                        Format="N2"
                        T="double"
                    />
                    <div class="absolute right-[8px] top-[17px]">
                        <TokenChip
                            Disabled="!_isTokenTwoSelected"
                            Tokens="Tokens"
                            CurrentlySelectedToken="AppStateService.AddLiquidityCurrentlySelectedTokenTwo"
                            OnSelectedToken="@((Token token) => AppStateService.AddLiquidityCurrentlySelectedTokenTwo = token)"
                        />
                    </div>
                    <div class="flex justify-between text-[12px] absolute w-full bottom-[13px] px-[14px]">
                        <span>~5,155 ADA</span>
                        <span>Balance: 5,298</span>
                    </div>
                </div>
            </div>
            <div class="@(_isTokenTwoSelected ? "h-[74px] mt-5 visible" : "h-0 mt-0 invisible") transition-height duration-200 ease-in-out flex justify-between gap-3">
                <MudCard Elevation="2" Class="grow !bg-[var(--mud-palette-drawer-background)]">
                    <MudCardContent Class="text-center">
                        <MudText Class="text-[16px] font-semibold">1.45058</MudText>
                        <MudText Class="text-[12px] !text-[var(--mud-palette-text-secondary)]">
                            @AppStateService?.AddLiquidityCurrentlySelectedTokenOne?.Name per @AppStateService?.AddLiquidityCurrentlySelectedTokenTwo?.Name
                        </MudText>
                    </MudCardContent>
                </MudCard>
                <MudCard Elevation="2" Class="grow !bg-[var(--mud-palette-drawer-background)]">
                    <MudCardContent Class="text-center">
                        <MudText Class="text-[16px] font-semibold">0.701726</MudText>
                        <MudText Class="text-[12px] !text-[var(--mud-palette-text-secondary)]">
                            @AppStateService?.AddLiquidityCurrentlySelectedTokenTwo?.Name per @AppStateService?.AddLiquidityCurrentlySelectedTokenOne?.Name
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </div>  
            @if (AppStateService.AddLiquidityTokenOneAmount == 0)
            {
                <MudButton FullWidth Disabled="true" Variant="Variant.Filled" Color="Color.Primary" Class="normal-case mt-5 !text-[20px]">
                    @(_isTokenTwoSelected ? "Enter an amount" : "Select a token")
                </MudButton>
            }
            else
            {
                <MudButton
                    FullWidth
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    Class="normal-case mt-5 !text-[20px]"
                    OnClick="OpenAddLiquidityConfirmationDialog"
                >
                    @(_createNewPool ? "Create" : "Add") Liquidity
                </MudButton>
            }
        </MudCardContent>
    </MudCard>
</div>

<MudDialog @bind-IsVisible="_isFeeUnavailable" Class="max-w-[496px] !pb-2" ClassActions="!px-[23px]">
    <DialogContent>
        <MudText Class="text-center font-semibold">
            We couldn't find a pool with the fee you specified. Would you like to create a new pool with this fee?
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton
            OnClick="CancelPoolCreation"
            Class="grow normal-case font-bold"
            Color="Color.Primary"
            Variant="Variant.Outlined"
        >
            No
        </MudButton>
        <MudButton
            OnClick="InitializePoolCreation"
            Class="grow normal-case font-bold"
            Color="Color.Primary"
            Variant="Variant.Filled"
        >
            Yes
        </MudButton>
    </DialogActions>
</MudDialog>
