<MudDialog Class="w-[92%] max-w-[496px] pb-4" ClassContent="@((_isConfirmed ? "!hidden" : "!block"))">
     <TitleContent>
        <div class="flex items-center justify-between">
            <MudText Class="!text-[16px] md:!text-[20px]" Typo="Typo.h6">Confirm Add Liquidity</MudText>
            <MudIconButton
                OnClick="@(() => MudDialog?.Close())"
                Class="justify-self-end block"
                Icon="@Icons.Material.Filled.Close"
                aria-label="close"
            >
            </MudIconButton>
        </div>
    </TitleContent>
    <DialogContent>
        <div class="flex flex-col gap-1">
            <MudText Typo="Typo.h3" Class="text-[14px] font-semibold">Assets</MudText>
            <div class="flex flex-col gap-2">
                <MudPaper Class="flex justify-between items-center p-4 ">
                    <div class="font-semibold text-[16px]">@AppStateService?.LiquidityTokenOneAmount</div>
                    <div class="confirm-swap-dialog-token-chip">
                        <TokenChip Disabled="true" CurrentlySelectedToken="AppStateService?.LiquidityCurrentlySelectedTokenOne" />
                    </div>
                </MudPaper>
                <MudPaper Class="flex justify-between items-center p-4 ">
                    <div class="font-semibold text-[16px]">@AppStateService?.LiquidityTokenTwoAmount</div>
                    <div class="confirm-swap-dialog-token-chip">
                        <TokenChip Disabled="true" CurrentlySelectedToken="AppStateService?.LiquidityCurrentlySelectedTokenTwo" />
                    </div>
                </MudPaper>
            </div>
        </div>
        <div class="mt-6 flex flex-col gap-1">
            <MudText Typo="Typo.h3" Class="text-[14px] font-semibold">Initial price</MudText>
            <div class="flex justify-between gap-3">
                <MudCard Elevation="2" Class="grow">
                    <MudCardContent Class="text-center">
                        <MudText Class="text-[16px] font-semibold">1.45058</MudText>
                        <MudText Class="text-[12px] !text-[var(--mud-palette-text-secondary)]">
                            @AppStateService?.LiquidityCurrentlySelectedTokenOne?.Name per @AppStateService?.LiquidityCurrentlySelectedTokenTwo?.Name
                        </MudText>
                    </MudCardContent>
                </MudCard>
                <MudCard Elevation="2" Class="grow">
                    <MudCardContent Class="text-center">
                        <MudText Class="text-[16px] font-semibold">0.701726</MudText>
                        <MudText Class="text-[12px] !text-[var(--mud-palette-text-secondary)]">
                            @AppStateService?.LiquidityCurrentlySelectedTokenTwo?.Name per @AppStateService?.LiquidityCurrentlySelectedTokenOne?.Name
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </div>
        </div>
        <div class="mt-6 flex flex-col gap-1">
            <MudText Typo="Typo.h3" Class="text-[14px] font-semibold">Fees</MudText>
            <MudPaper>
                <MudList Class="w-full">
                    <MudListItem Class="flex justify-between items-center py-0">
                        <div class="flex justify-between items-center text-[12px]">
                            <div>Refundable deposit:</div>
                            <div class="font-semibold">2 ADA</div>
                        </div>
                    </MudListItem>
                    <MudListItem Class="flex justify-between items-center py-0">
                    <div class="flex justify-between items-center text-[12px]">
                        <div class="flex">
                            <div>Total Fees</div>
                            <MudTooltip Placement="Placement.Right" Class="max-w-[200px] text-left">
                                <ChildContent>
                                    <MudIcon Class="w-[14px] h-[14px] ml-1" Icon="@IconsExtension.OutlinedQuestionMark" Size="Size.Small" />
                                </ChildContent>
                                <TooltipContent>
                                    <MudText Typo="Typo.caption">
                                        <div>Transaction fee: 1 ADA</div>
                                        <div>Execution fee: 2 ADA</div>
                                    </MudText>
                                </TooltipContent>
                            </MudTooltip>
                            <span>:</span>
                        </div>
                        <div class="font-semibold">3 ADA</div>
                    </div>
                </MudListItem>
                </MudList>
            </MudPaper>
        </div>
    </DialogContent>
    <DialogActions>
        <div class="@((_isConfirmed ? "block visible" : "hidden invisible") + " flex flex-col !items-center w-full gap-3")">
            <div class="w-full flex justify-center">
                <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
            </div>
            <MudText Class="font-semibold !text-[16px] md:text-[20px]">Waiting for confirmation</MudText>
            <MudText Class="text-[12px] md:text-[14px] text-center">
                Adding liquidity
                <span>@AppStateService?.LiquidityTokenOneAmount @AppStateService?.LiquidityCurrentlySelectedTokenOne?.Name</span> and 
                <span>@AppStateService?.LiquidityTokenTwoAmount @AppStateService?.LiquidityCurrentlySelectedTokenTwo?.Name</span>
            </MudText>
            <MudText Class="text-[12px] md:text-[14px] text-[var(--mud-palette-text-secondary)]">Confirm this transaction in your wallet.</MudText>
        </div>
        <div class="@((_isConfirmed ? "hidden" : "block") + " px-[16px] w-full !m-0 mt-2")">
            <MudButton
                FullWidth
                OnClick="HandleConfirmationBtnClicked"
                Class="!text-[16px] md:!text-[20px] py-[6px] font-medium normal-case"
                Variant="Variant.Filled"
                Color="Color.Primary"
            >
                Confirm Add Liquidity
            </MudButton>
        </div>
    </DialogActions>
</MudDialog>
