<MudTable
    Items="_filteredData"
    Hover="true"
    Breakpoint="Breakpoint.Sm"
    Class="!p-[24px] flex flex-col gap-7 liquidity-table !rounded-none !rounded-b"
    HeaderClass="bg-[var(--mud-palette-drawer-background)]"
    RowClass="relative"
>
	<ToolBarContent>
        <div class="flex flex-col md:grid grid-cols-1 w-full gap-3">
            <MudButton 
                FullWidth
                Variant="Variant.Filled"
                Color="Color.Primary"
                Class="normal-case text-[16px] md:max-w-[160px] md:absolute md:top-[-74px] md:right-0 justify-self-end font-bold"
                Href="/liquidity/liquidity-center"
            >
                Add Liquidity
            </MudButton>
            <div class="relative">
                <MudTextField
                    Immediate
                    T="string"
                    Value="_searchValue"
                    ValueChanged="HandleSearchValueChanged"
                    Variant="Variant.Outlined"
                    Placeholder="Type token name or pool ID"
                    Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.Search"
                    IconSize="Size.Medium"
                    Class="!mt-0"
                >
                </MudTextField>
                <div class="absolute right-[10px] top-[12px] hidden md:block">
                    <TokenChip
                        Tokens="_tokens"
                        CurrentlySelectedToken="_currentlySelectedToken"
                        OnSelectedTokenClicked="@((token) => HandleSelectedToken(token))"
                    />
                </div>
            </div>
        </div>
    </ToolBarContent>
	<HeaderContent>
		<MudTh>Pair</MudTh>
		<MudTh>TVL</MudTh>
		<MudTh>Volume 24H</MudTh>
		<MudTh>Volume 7D</MudTh>
        <MudTh>Fee</MudTh>
        <MudTh>APR</MudTh>
        <MudTh></MudTh>
	</HeaderContent>
	<RowTemplate>
		<MudTd DataLabel="Pair">
            <div class="flex items-center">
                <div class="flex relative">
                    <MudImage Src=@context.TokenOne.Logo Height="24" Width="24" Alt="" />
                    <MudImage Src=@context.TokenTwo.Logo Height="24" Width="24" Alt="" Class="absolute left-[18px]" />
                </div>
                <MudText Typo="Typo.h6" Class="font-semibold text-[16px] ml-7">
                    @context.TokenOne.Name/@context.TokenTwo.Name
                </MudText>
                <MudTooltip Placement="Placement.Right">
                    <ChildContent>
                        <MudIcon Icon="@Icons.Material.Filled.Verified" Size="Size.Small" Class="ml-2 mb-0.5 cursor-pointer" />
                    </ChildContent>
                    <TooltipContent>
                        <MudText Typo="Typo.caption">This pair is verified.</MudText>
                    </TooltipContent>
                </MudTooltip>
            </div>
        </MudTd>
		<MudTd DataLabel="TVL">@context.TVL ADA</MudTd>
		<MudTd DataLabel="Volume 24H">@context.Volume24H ADA</MudTd>
		<MudTd DataLabel="Volume 7D">@context.Volume7D.ToString("N0") TEDY</MudTd>
		<MudTd DataLabel="Fee">@context.Fee%</MudTd>
		<MudTd DataLabel="APR">@context.APR%</MudTd>
        <MudTd>
            <MudIconButton
                aria-label="Expand row"
                Icon="@Icons.Material.Filled.KeyboardArrowDown"
                Class="@((context.ShowDetails ? "rotate-180" : "rotate-0") + " transition-transform duration-200 ease-in-out block m-auto lg:m-0")"
                OnClick="@(() => ExpandRow(context.Number))"
            />
        </MudTd>
	</RowTemplate>
	<ChildRowContent>
        <tr>
            <td colspan="7">
                <div class="@((context.ShowDetails ? "h-[323px] lg:h-[96px] p-[16px]" : "h-0 p-0") + " transition-all overflow-hidden ease-in-out duration-150 bg-[var(--mud-palette-surface)] rounded flex flex-col lg:flex-row lg:items-center lg:space-between lg:gap-8")">
                    <div class="@((context.ShowDetails ? "opacity-100" : "opacity-0") + " transition-all duration-1000 ease-in-out flex flex-col lg:flex-row gap-3 lg:gap-7 w-full grow-[2]")">
                        <div class="flex items-center justify-between lg:justify-start lg:flex-col lg:items-start lg:gap-1">
                            <MudText Class="text-[var(--mud-palette-text-secondary)] text-[12px]">Price</MudText>
                            <div class="text-right lg:text-left">
                                <MudText Class="text-[12px] lg:text-[14px] text-[var(--mud-palette-text-secondary)] font-semibold">1 @context.TokenOne.Name = 0.19903 @context.TokenTwo.Name</MudText>
                                <MudText Class="text-[12px] lg:text-[14px] text-[var(--mud-palette-text-secondary)] font-semibold">1 @context.TokenTwo.Name = 5.024 @context.TokenOne.Name</MudText>
                            </div>
                        </div>
                        <div class="flex items-center justify-between lg:justify-start lg:flex-col lg:items-start lg:gap-1">
                            <MudText Class="text-[var(--mud-palette-text-secondary)] text-[12px]">Total Liquidity</MudText>
                            <div class="text-right lg:text-left">
                                <MudText Class="text-[12px] lg:text-[14px] text-[var(--mud-palette-text-secondary)] font-semibold">@context.TokenOne.Name: 134,384,920</MudText>
                                <MudText Class="text-[12px] lg:text-[14px] text-[var(--mud-palette-text-secondary)] font-semibold">@context.TokenTwo.Name: 26,747,918</MudText>
                            </div>
                        </div>
                        <div class="flex items-center justify-between lg:justify-start lg:flex-col lg:items-start lg:gap-1">
                            <MudText Class="text-[var(--mud-palette-text-secondary)] text-[12px]">Your Liquidity</MudText>
                            <div class="text-right lg:text-left">
                                <MudText Class="text-[12px] lg:text-[14px] text-[var(--mud-palette-text-secondary)] font-semibold">@context.TokenOne.Name: 0</MudText>
                                <MudText Class="text-[12px] lg:text-[14px] text-[var(--mud-palette-text-secondary)] font-semibold">@context.TokenTwo.Name: 0</MudText>
                            </div>
                        </div>
                        <div class="flex items-center justify-between lg:justify-start lg:flex-col lg:items-start lg:gap-1">
                            <MudText Class="text-[var(--mud-palette-text-secondary)] text-[12px]">Volatility Index (1M)</MudText>
                            <MudText Class="text-[12px] lg:text-[14px] text-[var(--mud-palette-text-secondary)] font-semibold">8.3</MudText>
                        </div>
                        <div class="flex items-center justify-between lg:justify-start lg:flex-col lg:items-start lg:gap-1">
                            <MudText Class="text-[var(--mud-palette-text-secondary)] text-[12px]">Volume: TVL (1M)</MudText>
                            <MudText Class="text-[12px] lg:text-[14px] text-[var(--mud-palette-text-secondary)] font-semibold">0.253</MudText>
                        </div>
                    </div>
                    <div class="@((context.ShowDetails ? "opacity-100" : "opacity-0") + " transition-all duration-1000 ease-in-out flex flex-col lg:flex-row gap-3 items-center lg:items-start mt-6 lg:!mt-0 grow")">
                        <MudButton
                            OnClick="@(() => HandleSwapBtnClicked(context.Number))"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            Class="w-full lg:!w-[204px] !py-px normal-case"
                        >
                            Swap
                        </MudButton>
                        <MudButton
                            OnClick="@(() => HandleAddLiquidityBtnClicked(context.Number))"
                            Variant="Variant.Outlined"
                            Color="Color.Primary"
                            Class="w-full lg:!w-[204px] !py-px normal-case"
                        >
                            Add Liquidity
                        </MudButton>
                    </div>
                </div>
            </td>
        </tr>
	</ChildRowContent>
</MudTable>
